button{
    background-color: navajowhite;
}
#para{
    background-color: blue;
    color: aliceblue;
}
para1{
    background-color: cornflowerblue;
    color: seashell;
}
.sa{
    background-color: aqua;
    color: #000;
}
.la{
    width: 1000px;
    height: 100px;
    background-color: rgb(218, 179, 26);
    margin-left:  20px;
    margin-top: 30px;
    padding-left: 300px;
    padding-top: 20px;
    border: 5px solid;
}
.wh{
    color: rgb(6, 8, 10);
    background-color: rgb(218, 179, 26)
}
.la{
    border: solid 10px;
    border-color: rgb(235, 12, 12);
    background-color: rgb(55, 206, 18);
    color: blue;
    width: 300px;
    height: 200px;
}

.box{
   margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
}
.inn{
    margin: 10px;
    background-color: rgb(224, 12, 231);
    width: 200px;
    height: 100px;
 
}