button{
    background-color: navajowhite;
}
#para{
    background-color: blue;
    color: aliceblue;
}
para1{
    background-color: cornflowerblue;
    color: seashell;
}
.sa{
    background-color: aqua;
    color: #000;
}